absl-py==2.3.0
accelerate==1.8.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiosignal==1.3.2
albucore==0.0.24
albumentations==2.0.8
altair==5.5.0
annotated-types==0.7.0
anywidget==0.9.18
async-timeout==5.0.1
attrs==25.3.0
bbox_visualizer==0.2.2
blinker==1.9.0
cachetools==6.1.0
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1
contourpy==1.3.2
cycler==0.12.1
Cython==3.1.2
defusedxml==0.7.1
einops==0.8.1
fairscale==0.4.13
filelock==3.18.0
filetype==1.2.0
fonttools==4.58.4
frozenlist==1.7.0
fsspec==2025.5.1
ftfy==6.3.1
gitdb==4.0.12
GitPython==3.1.44
grpcio==1.73.1
hf-xet==1.1.5
huggingface-hub==0.33.1
idna==3.7
ipywidgets==8.1.7
Jinja2==3.1.6
joblib==1.5.1
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyter_bbox_widget==0.6.0
jupyterlab_widgets==3.0.15
kiwisolver==1.4.8
lightning==2.5.2
lightning-utilities==0.14.3
Markdown==3.8.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
mpmath==1.3.0
multidict==6.6.2
narwhals==1.44.0
networkx==3.4.2
ninja==1.11.1.4
numpy==2.2.6
onnx==1.18.0
onnx_graphsurgeon==0.5.8
onnxsim==0.4.36
open_clip_torch==2.32.0
opencv-python==4.11.0.86
opencv-python-headless==4.10.0.84
peft==0.15.2
pillow==11.2.1
pillow_heif==0.22.0
polygraphy==0.49.24
propcache==0.3.2
protobuf==6.31.1
psygnal==0.13.0
pyarrow==20.0.0
pycocotools==2.0.10
pydantic==2.11.7
pydantic_core==2.33.2
pydeck==0.9.1
pylabel==0.1.55
pyparsing==3.2.3
python-dotenv==1.1.1
pytorch-lightning==2.5.2
pytz==2025.2
PyYAML==6.0.2
referencing==0.36.2
regex==2024.11.6
requests==2.32.4
requests-toolbelt==1.0.0
rf100vl==1.0.0
rfdetr==1.1.0
rich==14.0.0
roboflow==1.1.66
rpds-py==0.25.1
safetensors==0.5.3
scikit-learn==1.7.0
scipy==1.15.3
seaborn==0.13.2
shapely==2.1.1
simsimd==6.4.9
smmap==5.0.2
streamlit==1.46.1
stringzilla==3.12.5
supervision==0.25.1
sympy==1.14.0
tenacity==9.1.2
tensorboard==2.19.0
tensorboard-data-server==0.7.2
threadpoolctl==3.6.0
timm==1.0.16
tokenizers==0.21.2
toml==0.10.2
torch==2.7.1
torchmetrics==1.7.3
torchvision==0.22.1
tqdm==4.67.1
transformers==4.53.0
typing-inspection==0.4.1
tzdata==2025.2
urllib3==2.5.0
Werkzeug==3.1.3
widgetsnbextension==4.0.14
yarl==1.20.1
